**/.stack-work/

*.hi
*.o
*.dyn_hi
*.dyn_o
.ghc.environment.*

dist-newstyle/
cabal.project.local*
.cabal-sandbox/
cabal.sandbox.config

*.exe
*.dll

Thumbs.db
desktop.ini
$RECYCLE.BIN/

.vscode/
*.log
.history/