package.json
stack.yaml
stack-lock.yaml

dist-newstyle/
.stack-work/
**/.stack-work/
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local*
.ghc.environment.*

*.hi
*.o
*.dyn_hi
*.dyn_o
*.exe

node_modules/
package-lock.json

test-*.cjs
test-*.js
test-*.js.map
test-*.html
test-*.hs
test-*.py

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
$RECYCLE.BIN/

.idea/
.vscode/
*.swp
*.swo
*~
*.log
.history/